/* .container{
  display: flex;
  flex-direction: column;
  
} */
body {
  background-color: antiquewhite;
  margin: 0;
}
.nav-bar {
  background: linear-gradient(
    68.4deg,
    rgba(99, 251, 215, 1) -0.4%,
    rgba(5, 222, 250, 1) 100.2%
  );
  height: 70px;
}
